<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Books</title>
  <link rel="stylesheet" href="/styles/main.css">
  <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
</head>

<body>
  <div class="container">
    <h1>Books I Read</h1>
    <a id="newPostBtn" href="/new">New Entry</a>
    <hr style="margin-top: 25px">
    <ul id="postsList">
      <% books.forEach(book=> { %>
        <li>
          <h2>
            <%=book.title%>
          </h2>
          <small>
            <% let date = new Date(book.date_last_read) %>
            Last read: <%= date.getFullYear()%>-<%= date.getMonth()+1 %>-<%= date.getDate() %>
          </small>
          <p>
            <%=book.notes%>
          </p>
          <small>By: <%=book.author%> </small>
          <small>Rating: <%=book.rating%>/5</small>
          <a class="edit" href="/edit/<%= book.id %>">Edit</a>
          <a class="delete" href="/api/books/delete/<%= book.id %>">Delete</a>
        </li>
        <% }); %>
    </ul>
  </div>

</body>

</html>